
.background {
    position:absolute;
    overflow:hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: url("./Imgs/background_img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
    background-color: #49216a;
    max-height: 400px;
    min-height: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 20px -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100px;
    margin: 10px 0 40px;
}

.p {
    color: #cccccc;
    margin-bottom: 2px;
    padding: 50px;
    height: 80px;
    width: 100%;
    text-align: center;
}

.input {
    flex: 1;
    height: 100%;
    margin-bottom: 22px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    
}

.buttonEntrar {
    color: #fff;
    font-size: 16px;
    background: #4bb64b;
    height: 56px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    transition-duration: 0.4s;
}

.buttonEntrar:hover {
    background: #6ec56e;
}

.buttonCriarConta {
    color: #fff;
    font-size: 16px;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    background: #4b60b6;
    transition-duration: 0.4s;
}

.buttonCriarConta:hover {
    background: #5970cc;
}

.hr {
    margin: 20px 0;
    border: none;
    width: 100%;
}

.a {
    font-size: 16;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}

.linkLogin {
    font-size: 16;
    color: #cdcdcd;
}
